<div class="container mt-5 p-5">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col-10 col-lg-10 col-sm-10 mb-3">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Search Movies Here ....">
            </div>
            <div class="col-2 col-lg-2 col-sm-2">
                <button class="btn btn-md">Search</button>
            </div>
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResults">
            <div class="row">
                <div class="col-lg-3 mt-4 mb-4">
                    <img class="sMovieImg" src="https://image.tmdb.org/t/p/original/{{ s.poster_path ? s.poster_path : s.backdrop_path}}" alt=""
                    [routerLink]="['/movie',s.id]">
                </div>
                <div class="col-lg-9 mt-4 mb-4">
                    <h5>{{s.original_title}}</h5>
                </div>

            </div>

        </div>
    </div>
</div>
